body {
    background-color: #ffffff;
}

.calculator {
    background-color: #d8d8d8;
    border: 1px solid #4b4b4b;
    border-radius: 5px;
    padding: 10px;
    width: 80vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.display {
    display: grid;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 0 auto;
    height: 200px;
    margin-bottom: 10px;
    text-align: right;
    font-size: 2em;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 40vh;
}

.button {
    flex: 1 0 18%;
    margin: 3px;
    font-family: sans-serif;
    font-size: 1.5em;
}

.red {
    background-color: rgb(235, 60, 60);
    border: rgb(68, 68, 68) 1px solid;    
}

.red:hover {
    background-color: rgb(255, 80, 80);
}

.red:active {
    background-color: rgb(225, 50, 50);
}

.back {
    font-size: 2em;
    font-weight: 800;
}

.equals {
    background-color: rgb(127, 215, 40);
    border: rgb(100, 100, 100) 1px solid;
}

.equals:hover {
    background-color: rgb(147, 235, 60);
}

.equals:active {
    background-color: rgb(117, 205, 30);
}